<h2><%= @user.alias %>'s Profile</h2>


<p> Name: <%= @user.name %> </p>
<p> Alias: <%= @user.alias %> </p>
<p> Email: <%= @user.email %> </p>

<p>--------------------------------</p>


<p> Total number of Posts: <%= @postcount %> </p>
<p> Total number of Likes: <%= @userlikes %> </p>





